<%- model_class = Post -%>

<% content_for :sidebar_module do %>

    <div class="well sidebar-nav">
      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">Tags</a></li>
              <li role="presentation"><a href="#dates" aria-controls="dates" role="tab" data-toggle="tab">Date</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="tags">
            <% @tags.each do |tag| %>
                <a href="#"><%= tag %></a><br/>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane active" id="dates">
            <% @dates.each do |date| %>
                <a href="#"><%= date %></a><br/>
            <% end %>
          </div>
        </div>

      </div>
    </div><!--/.well -->
<% end %>

<% content_for :page_heading do %><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
</div>
<% end %>
<% @posts.each do |post| %>
    <div class="blog-post">
      <article>
        <div class="blog-post-title">
          <h2>
            <%= link_to post.subject, "posts/#{post.seo_name}" %>
            <% unless post.published %>
                <span class="label label-default">not published</span>
            <% end %>
          </h2>

        </div>
        <%= post.content.gsub("\r\n", "<br>").html_safe %>
        <div class="blog-post-meta">
          <div class="post-short-footer">
            <p class="pull-left">
              <i class="fa fa-calendar"></i> <%= post.get_date.strftime "%d.%h %Y %H:%M:%S" %>
            </p>
            <p class="pull-right">
              <i class="fa fa-user"></i> <%= post.user.username %> <em>(<%= post.user.first_name %> <%= post.user.last_name %>)</em>
            </p>
          </div>
        </div>
      </article>
    </div>
<% end %>

<% if user_signed_in? %>

    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
<% end %>